<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add New Post</title>
</head>
<body>
    <h1>ADD NEW POST</h1>

    <form action="/post" method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="uri" name="image" placeholder="image Uri">
        <input type="text" name="description" placeholder="Description">
        <button type="submit">submit</button>
    </form>
</body>
</html>